<header role="banner">
  <nav>
    <ul>
      <li>
        <a href="/" >
         <img src="{{ '/styles/images/logo.jpg' | prepend: site.baseurl }}">
       </a>
     </li>

     <li>
       <a href="{{ '/categories/' | prepend: site.baseurl }}">åçåè</a>
     </li>

     <li>
       <a href="{{ '/tag' | prepend: site.baseurl }}">åçåè</a>
     </li>
   </ul>
 </nav>

</header>
