<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <!-- TODO, perf: inline css -->
  <link rel="stylesheet" href="{{ "/assets/main.css" | prepend: site.baseurl }}">

  <!-- perf: inlined fav.ico to avoid useless http request -->
  <link rel="shortcut icon"type="image/x-icon" href="data:image/x-icon;,">
  <script src="script.js" defer="true">
    var solarizedBackgroundColorBase64 = "iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
    var docHead = document.getElementsByTagName('head')[0];       
    var favIconElement = document.createElement('link');
    
    favIconElement.rel = 'shortcut icon';
    favIconElement.href = 'data:image/png;base64,'+favIcon;
    
    docHead.appendChild(favIconElement);
  </script>

  <!-- seo: avoid duplicate -->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <!-- seo: nicer SERP results -->
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <!-- browser bookmark: solarized light background -->
  <meta name="theme-color" content="#eee8d5">
  
  <!-- social media cards -->
  {% if page.thumbnail %}
  <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/assets/{{ page.thumbnail }}">
  {% else %}
  <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/thumbnail.jpg">
  {% endif %}

  {% if page.title %}
  <meta property="og:title" content="{{ site.title }} • {{ page.title }}">
  {% else %}
  <meta property="og:title" content="{{ site.title }}">
  {% endif %}


  <!-- rss -->
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
</head>
